{{ define "addexpense"}}

<div id="AddExpense" class="w3-container tab" style="display:none">
	<h2>Add New Expense Category</h2>
	<form action="/category" method=post>
		Name<input name="category" type="text" value="" required/>
		<br>
		<button type="submit" name="action" value="expense">OK</button>
		<button onclick="openTab('Category')">Cancel</button>
	</form>
</div>
{{end}}
