{{define "buttonbar"}}
<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="openTab('Home')">Home</button>
  <button class="w3-bar-item w3-button" onclick="openTab('Transaction')">Transaction</button>
  <button class="w3-bar-item w3-button" onclick="openTab('Category')">Category</button>
  <button class="w3-bar-item w3-button w3-right" onclick="openPopUp('Settings')">...</button>
</div>
{{end}}