	{{ define "datebar" }}
  <div class="w3-bar w3-blue">
		<form action="/back" method=post>
			<button class="w3-bar-item w3-circle w3-black" type="submit"><</button>
		</form>
		<form action="/today" method=post>
			<button class="w3-bar-item w3-teal" type="submit">{{.Start.Format "Jan 02"}} - {{.End.Format "Jan 02"}}</button>
		</form>
		<form action="/forward" method=post>
			<button class="w3-bar-item w3-circle w3-red" type="submit">></button>
		</form>
	</div>
  {{ end }}