{{ define "settings"}}
<div id="Settings" class="w3-modal w3-container tab" style="display:none">
	<div class="w3-modal-content">
		<span onclick="document.getElementByID('Settings').style.display='none'"
			class="w3-button w3-display-topright">&times;</span>
		<button onclick="window.location.href='/logout'">Logout</button>
		<button onclick="window.location.href='/settings'">Settings</button>
		<button onclick="window.location.href='/'">Close</button>
	</div>
</div>
{{end}}
