<!DOCTYPE html>
<html>
<head>
<title>Spending Tracker</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-bar w3-black">
  <button class="w3-bar-item w3-button" onclick="openCity('Home')">Home</button>
  <button class="w3-bar-item w3-button" onclick="openCity('Transaction')">Transaction</button>
  <button class="w3-bar-item w3-button" onclick="openCity('Category')">Category</button>
  <button class="w3-bar-item w3-button w3-right" onclick="openCity('Home')">...</button>
</div>

<div id="Home" class="w3-container city">
	<ul>
		<li>Income ${{.Income}}</li>
		<li>Expense ${{.ExpenseTotal}}</li>
		<ul>
			{{range .Expenses}}
				<li>{{.Cat}} ${{.Amount}}</li>
			{{end}}
		</ul>
		<hr style="border-top: 1px dotted black"/>
		
		<li>CarryOver ${{.CarryOver}}
		<li>Balance ${{.Balance}}</li>
	</ul>
	<div class="w3-bar w3-black">
  	<button class="w3-bar-item w3-button" onclick="openCity('Expense')">Expense</button>
  	<button class="w3-bar-item w3-button" onclick="openCity('Income')">Income</button>
	</div>
	<div class="w3-bar w3-blue">
		<button class="w3-bar-item w3-circle w3-black"><</button>
		<button class="w3-bar-item w3-teal">{{.Start.Format "2006-01-02"}}</button>
		<button class="w3-bar-item w3-circle w3-red">></button>
	</div>
</div>

<div id="Expense" class="w3-container city" style="display:none">
  <h2>Expense</h2>
  <p>Enter Expense Details</p>
	<form action="/" method=post>
  Date <input name="date" type="date" value='{{.Today.Format "2006-01-02"}}' required/>
	Category
	<select name="Category" size=1 >
		{{range .Categories}}
			{{if .ExpenseCat }}
				<option value="{{.Name}}">{{.Name}}</option>
			{{end}}
		{{end}}
	</select><br>
  Amount
	<input name="amount" type="number" value="" required/><br><br>
	<input type="submit" value=OK>
  <button onclick="openCity('Home')">Cancel</button>
	<input type="hidden" name="form" value="expense">
	</form>
</div>

<div id="Income" class="w3-container city" style="display:none">
  <h2>Income</h2>
  <p>Enter Income Details</p> 
	<form action="/" method=post id="form2">
		<label>Date</label>
		<input name="date" type="date" value='{{.Today.Format "2006-01-02"}}' required/>
		<br>
		<label>Category</label>
		<select name="Category" size=1>
			{{range .Categories}}
				{{if not .ExpenseCat}}
					<option value="{{.Name}}">{{.Name}}</option>
				{{end}}
			{{end}}
		</select>
		<br>
  	<label>Amount</label>
		<input name="amount" type="number" value="" requiraed/>
  	<br>
  	<br>
		<input type="submit" value=OK>
  	<button onclick="openCity('Home')">Cancel</button>
		<input type="hidden" name="form" value="income">
	</form>
</div>

<div id="Transaction" class="w3-container city" style="display:none">
  <h2>Transactions</h2>
	{{.Start}}
	<ul>
		{{range .Transactions}}
				<li>{{.Date.Format "2006-01-02"}} {{.Cat}} {{.Amount}} </li>
		{{end}} 
	</ul> 
	<div class="w3-bar w3-blue">
		<button class="w3-bar-item w3-circle w3-black"><</button>
		<button class="w3-bar-item w3-teal">{{.Start.Format "2006-01-02"}}</button>
		<button class="w3-bar-item w3-circle w3-red">></button>
	</div>
</div>

<div id="Category" class="w3-container city" style="display:none">
  <h2>Category</h2>
	<ul>
		<li>Income</li>
		<ul>
			{{range .Categories}}
				{{if not .ExpenseCat}}
					<li>{{.Name}}</li>
				{{end}}
			{{end}}
		</ul>
		<li>Expense</li>
		<ul>
			{{range .Categories}}
				{{if .ExpenseCat}}
					<li>{{.Name}}</li>
				{{end}}
			{{end}}
		</ul>
	</ul>	
	<button onclick="openCity('AddExpense')">New Expense</button>
	<button onclick="openCity('AddIncome')">New Income</button>
	</form>
</div>

<div id="AddExpense" class="w3-container city" style="display:none">
	<h2>Add New Expense Category</h2>
	<form action="/" method=post>
		Name<input name="category" type="text" value="" required/>
		<br>
		<input type="submit" value=OK>
		<button onclick="openCity('Category')">Cancel</button>
		<input type="hidden" name="form" value="addExpense">
	</form>
</div>

<div id="AddIncome" class="w3-container city" style="display:none">
	<h2>Add New Income Category</h2>
	<form action="/" method=post>
		Name<input name="category" type="text" value="" required/>
		<br>
		<input type="submit" value=OK>
		<button onclick="openCity('Category')">Cancel</button>
		<input type="hidden" name="form" value="addIncome">
	</form>
</div>


<script>
function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    document.getElementById(cityName).style.display = "block";  
}
</script>

</body>
</html>

